
#loader{
  position: fixed;
  width:100%;
  height: 100%;
  left: 0;
  top:0;
  background-color:#000;
  z-index:999999;
}
#smoke {
    position:absolute;
    background-color:#000;
    top:50%;
    lefT:50%;
    transform:translate(-50%,-50%);
}

#smoke ul {
    margin:0;
    padding:0;
    display:flex;
}

#smoke ul li {
  color: #fff;
    font-family: sans;
    list-style:none;
    font-weight:bold;
    letter-spacing:20px;
    filter: blur(1px);
    font-size: 3rem;
    border: ndfgdfgdfone;
    display: inline-block;
}

#smoke ul li:nth-child(2) {
  color: red;
}
#smoke ul li:nth-child(3) {
  color: #007bff;
}
#smoke ul li:nth-child(5) {
  color: red;
}
#smoke ul li:nth-child(6) {
  color: #007bff;
}

@keyframes smoke {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter:blur(1px);
    }
    100% {
      transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter:blur(20px);
    }
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/roboto-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/roboto-medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'ico';
  src: url('../fonts/ico.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before { content: '\e801'; } /* '' */
.icon-chevron-right:before { content: '\e802'; } /* '' */
.icon-chevron-up:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-cloud-download-alt:before { content: '\e805'; } /* '' */
.icon-database:before { content: '\e807'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-tags:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-tag:before { content: '\e81b'; } /* '' */
.icon-bell:before { content: '\e81c'; } /* '' */
.icon-cog:before { content: '\e81d'; } /* '' */
.icon-lock:before { content: '\e824'; } /* '' */
.icon-envelope:before { content: '\e826'; } /* '' */
.icon-npm:before { content: '\e82c'; } /* '' */
.icon-github:before { content: '\e82d'; } /* '' */
.icon-code:before { content: '\e830'; } /* '' */
.icon-codepen:before { content: '\e834'; } /* '' */
.icon-git-alt:before { content: '\e839'; } /* '' */
.icon-search:before { content: '\e844'; } /* '' */
.icon-volume-up:before { content: '\e846'; } /* '' */
.icon-linkedin:before { content: '\e847'; } /* '' */

body{
  padding-top: 3rem;
  font-family: 'Roboto';
  background: black;
      margin: 0;
}
.app-main{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.menu-nav{
  background: rgb(0 0 0 / 0.60);
      box-shadow: 0 0 6px #000000;
    color: #fff;
    display: block;
    height: 3rem;
    font-size: 1.3rem;
    z-index: 99;
}

.nav-sb{
  position: fixed;
  left: -15rem;
  width: 14rem;
  top: 3rem;
  z-index: 99;
  color: white;
  background: rgb(19 19 19 / 65%);
  box-shadow: 0 0 4px black;
  transition: left .5s;
}

.sb-body{
  height: calc(100vh - 3rem);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 1rem 2rem 1rem;
}

.sb-lnk{
  border-bottom: 1px solid #c5c5c5;
  cursor: pointer;
  line-height: 2;
  transition: all .5s;
}

.sb-lnk:hover {
  padding-right: 1rem;
  color: #007bff!important;
  border-bottom: 1px solid #007bff;
}

.nav-sb.active{
  left: 0;
}



.nav-right{
  display: inherit;
  justify-content: flex-end;
}

.nav-lnk{
    margin-right: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: color .5s;
}

.nav-left{
    display: flex;
}

.nav-lnk:hover{
    color: #ddd;
}

.rs-btn{
  height: 2rem;
  float: left;
  margin-top: 1rem;
  padding: 0 1rem;
}

.list-group{
  margin-bottom: 2rem;
  border-radius: 0;
}

.card{
  box-shadow: 0 0 8px #272727;
  border-radius: 0;
}

.card, .list-group-item{
  background-color: rgb(45 45 45 / 54%);
  color: white;
}

.list-group-item{
  border: 1px solid rgb(0 0 0 / 66%)
}

.list-group-item.active {
    color: #fff;
    background-color: rgb(0 0 0 / 56%);
    border-color: #000;
}

.login-check {
    position: absolute;
    bottom: 1rem;
}

.hidden{
  display: none;
}


.b-nav{
  width: 100%;
  position: fixed;
  height: 30px;
  background: rgb(0 0 0 / 0.60);
    box-shadow: 0 0 6px #000000;
  color: white;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.bc{
  line-height: 2;
  margin-left: 1rem;
}

.b-lnks{
  float: right;
  line-height: 2;
  margin-right: 1rem;
  transition: color 1s;
}

.b-lnks span{
  transition: color 1s;
}

.b-lnks span:hover{
  color: red;
}

.sh-9, .sh-95 {
  transition: 1s ease
}

.sh-9:hover {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  transition: .5s ease
}

.sh-95:hover {
  -webkit-transform: scale(.95);
  transform: scale(.95);
  transition: .5s ease
}

.totop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  background: rgb(0 0 0 / 70%);
  box-shadow: 0 0 6px rgb(0 0 0 / 70%);
  border-radius: 50%;
  cursor: pointer
}

.totop:hover {
    color: red;
}

::-webkit-scrollbar {
  z-index: 30;
  width: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-left: 1px solid #000
}

::-webkit-scrollbar-track {
  background: #000
}

.f-title:hover, .s-title:hover{
  cursor: pointer;
  color: #aaa

}

.s-title{
  font-size: 1rem;
}

.cp{
  cursor: pointer;
}

.ch{
  cursor: help;
}


.show{
  display: block;
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 10px;
  color: #fff!important;
  z-index: 999999;
  -webkit-animation: fadein 1s;
  animation: fadein 1s
}

.fadeout {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s;
  opacity: 0
}

.alert {
  border: none!important;
}

.alert-success {
  background: rgba(106, 192, 69, .8)!important;
  box-shadow: 0 0 4px rgba(106, 192, 69, .8)!important;
}

.alert-warning {
  background: rgba(255, 87, 34, .8)!important;
  box-shadow: 0 0 4px rgba(255, 87, 34, .8)!important;
}

.alert-danger {
  background: rgba(202, 48, 0, .8)!important;
  box-shadow: 0 0 4px rgba(202, 48, 0, .8)!important;
}

.alert-info {
  background: rgba(0, 99, 202, .8)!important;
  box-shadow: 0 0 4px rgba(0, 99, 202, .8)!important;
}

.o0{
  opacity: 0;
}
.fadeIn{
  -webkit-animation: fadein 2s;
  animation: fadein 2s
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeout {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}


.capital{
  text-transform: capitalize;
}

.badge {
    background: rgb(0 0 0 / 60%);
    margin-left: .5rem;
    padding: .2rem .5rem;
}

.link-txt {
  color: #007bff
}

.black-txt {
  color: #000
}

.logo-trans{
    transition: all 1s
}

.red-txt {
  color: red;
}

.logo-txt {
  margin-left: 4rem;
}

canvas, .cnv{
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.fs1{
  font-size: 1rem;
}
.fs1-5{
  font-size: 1.5rem;
}

.ani-img{
  border: 5px solid black;
box-shadow: 0 0 4px black;
opacity: .8;
cursor: pointer;
}


/* Icon 1 */

.ico-bars {
  top: .3rem;
  width: 2rem;
  height: 1.9rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ico-bars span {
  display: block;
  position: absolute;
  height: .25rem;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.ico-bars span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.ico-bars span:nth-child(2) {
  top: .5rem;
  background: red;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.ico-bars span:nth-child(3) {
      top: 1rem;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.ico-bars.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -0.1rem;
  left: .5rem;
}

.ico-bars.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.ico-bars.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: red;
  left: .5rem;
  top: 1.35rem;
}


.profile-img{
  width: 14rem;
  height: 14rem;
}

.loader-mask{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 57%);
}

.loader {
	position: relative;
  position: fixed;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	perspective: 800;
}
.loader .arc {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 10px 0;
	border-radius: 50%;
	filter: contrast(2) brightness(1.5) blur(2px);
}
.loader .arc:nth-child(1) {
  border-color: #3F51B5;
	animation: rotate1 1.5s -1s linear infinite;
}
.loader .arc:nth-child(2) {
  border-color: red;
	animation: rotate2 1.5s -0.5s linear infinite;
}
.loader .arc:nth-child(3) {
  border-color: #757575;
	animation: rotate3 1.5s 0s linear infinite;
}
@keyframes rotate1 {
	0% {
		transform: rotateX(45deg) rotateY(45deg) rotateZ(0);
	}
	100% {
		transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
	}
}
@keyframes rotate2 {
	0% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(0);
	}
	100% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
	}
}
@keyframes rotate3 {
	0% {
		transform: rotateX(45deg) rotateY(-45deg) rotateZ(0);
	}
	100% {
		transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
	}
}
.m-0{
  margin: 0;
}
