  a:hover,
        a:active {
            cursor: pointer;
            color: white;
        }
        
        .group::before,
        .group::after {
            content: "";
            display: table;
        }
        
        .group::after {
            clear: both;
        }
        
        
        .pens-in-list-view {
            width: 100%;
            margin: 0px 0px 20px;
            table-layout: fixed;
            white-space: nowrap;
        }
        
        .pens-in-list-view th,
        .pens-in-list-view td {
            padding: 5px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .pens-in-list-view th {
            text-align: left;
        }
        
        .pens-in-list-view th.title-header {
            width: 50%;
        }
        
        .pens-in-list-view th.sort-updated_at {
            width: 15%;
        }
        
        .pens-in-list-view th.sort-created_at {
            width: 15%;
        }
        
        
        .pen-in-list-view {
            background: rgba(0, 0, 0, 0.2);
            margin-bottom: 1px;
            overflow: hidden;
            color: #999;
        }
        
        .pen-in-list-view:hover {
            background: rgba(0, 0, 0, 0.498039);
            color: white;
        }
        
        .pen-in-list-view .title {
            width: 50%;
            font-weight: normal;
            font-size: 1em;
            margin: 0px;
            white-space: normal;
        }
        
        .pen-in-list-view .title a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        .pen-in-list-view .date {
            font-size: 1em;
            width: 20%;
        }
       
        
        .pagination {
            padding: 0px 0px 5px;
        }
        
        .pagination .button {
            float: none;
            display: inline-block;
            margin: 0px 0px 4px;
        }
        
        .bottom-pagination {
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -100px;
            text-align: center;
            width: 200px !important;
        }
        
        .bottom-pagination .pagination-button:first-of-type {
            float: left !important;
        }
        
        .bottom-pagination .pagination-button:last-of-type {
            float: right !important;
        }