{%- macro css(s) -%}
<link rel="stylesheet" href="/css/{{s}}.css">
{%- endmacro -%}
{%- macro js(s) -%}
<script src="js/{{s}}.js"></script>
{%- endmacro -%}

{%- macro node(s) -%}
<script src="{{s}}.js"></script>
{%- endmacro -%}

{%- macro entries(n,s) -%}
<div class="col s6">
  <label>{{n}}</label><input type="text" class="form-control entry{{n}}"  value="{{s}}">
</div>
{%- endmacro -%}

{%- macro skills(n,a,b,x) -%}
<div class="col s6 sort">
  <div class="card">
  <div class="form-group card-panel">
      <div class="card-title">
        <h5 class="inline">{{a}}</h5><span class="showEntries">show</span>
      </div>
      <div class="row card-content {{x}}entry hidden">
        {{entries(n="title",s=a)}}
        {{entries(n="percent",s=b)}}
      </div>
      <a class="removeBlock">Remove entry</a>
    </div>
  </div>
</div>
{%- endmacro -%}

{%- macro skillsMin(n,a,x) -%}
<div class="col s6 sort">
  <div class="card">
  <div class="form-group card-panel">
      <div class="card-title">
        <h5 class="inline">{{a}}</h5><span class="showEntries">show</span>
      </div>
      <div class="row card-content {{x}}entry hidden">
        {{entries(n="title",s=a)}}
      </div>
      <a class="removeBlock">Remove entry</a>
    </div>
  </div>
</div>
{%- endmacro -%}
{%- macro lnkHead(i) -%}
  <li class="effect-waves menu-item mobile-nav-head"><a class="blink">{{i|capitalize}}<span class="fa fa-chevron-right right"></span></a></li>
{%- endmacro -%}
{%- macro lnk(item) -%}
  <li class="effect-waves menu-item"><a class="blink" href="{{item}}">{{item|capitalize}}</a></li>
{%- endmacro -%}
