{%- macro css(s) -%}
<link rel="stylesheet" href="/css/{{s}}.css">
{%- endmacro -%}
{%- macro js(s) -%}
<script src="js/{{s}}.js"></script>
{%- endmacro -%}

{%- macro skills1(t,i) -%}
<form role="form" way-data="{{i}}">
    <h5>{{t}}</h5>
    <div class="form-group"><a href="#" way-action-push="{{i}}">Add entry</a></div>
    <div class="form-group" way-repeat="{{i}}">
        <div>
          <div class="item-entry">
              {% for item in config.skillsData %}
              <label>{{item}}</label>
              <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
              {% endfor %}
            </div>
        <a href="#" way-action-remove="{{i}}.$$key">Remove entry</a>
      </div>
    </div>
</form>
{%- endmacro -%}

{%- macro lnk(item) -%}
  <li><a href="{{item}}">{{item|capitalize}}</a></li>
{%- endmacro -%}

{%- macro pre(title) -%}
<div class="col s12 m6">
    <h3 class="center">JSON output</h3>
    <pre><code way-data="__all__" way-json="true" way-default="{}" class="javascript"></code></pre>
    <div class="col s6">
        <button class="effect-waves btn btn-default" way-clear>Clear data</button>
    </div>
    <form role="form" action="/update{{title}}" method="post">
        <div class="col s6">
            <button type="submit" class="effect-waves btn btn-default right">Save changes</button>
        </div>
        <input type="text" id="toUpdate" name="toUpdate" class="form-control" way-data="__all__" way-json="false" way-default="{}" hidden>
    </form>
</div>
{%- endmacro -%}
