{% extends 'layout.njk' %}
{% block content %}
<div class="container mt100">
    <h1 class="center">{{title|capitalize}}</h1>
      <div class="row">
        {% for item in config.tasks %}
        <div class="col s12 m6">
          <div class="card-panel blue">
            <h3 class="card-title">{{item.name}}</h3>
            <span class="white-text">{{item.description}}</span>
            <input type="text" value="{{item.task}}" readonly>
            <button class="effect-waves btn btn-default taskSelect w100" name="{{item.task}}" type="button">Select Task</button>
          </div>
        </div>
        {% endfor %}
        <form action="/task" role="form" method="post">
        <input id="taskOut" name="taskOut" class="center" type="text" value="" readonly>
        <button id="taskBtn" class="effect-waves btn btn-default w100" type="submit" disabled>Start Task</button>
      </form>
      </div>
  </div>
{% endblock %}
