{% import "macros/macros.njk" as macro %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{macro.css(s="fonts")}}
    {{macro.css(s="materialize.min")}}
    {{macro.css(s="style")}}
    {{macro.css(s="atom-one-dark")}}
  </head>

<body>
  {% include "includes/nav.njk" %}
  {% block content %}{% endblock %}

    <a id="scroll-to-top" class="icon-angle-up blink"></a>
    <div class="mask"></div>
    {{macro.js(s="jquery")}}
    {{macro.js(s="sortable")}}
    {{macro.js(s="marked")}}
    {{macro.js(s="src-min-noconflict/ace")}}
    {{macro.js(s="app")}}
    {%block scripts%}


    {% endblock %}
    <script>

    </script>
  </body>
</html>
