{% import "macros/macros.njk" as macro %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>{{macro.css(s="style")}}</head>

<body>
    <nav class="top-nav">
        <div class="nav-wrapper {{config.theme.main}}"><a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% for item in config.entries %}
                <li><a href="{{item}}">{{item|capitalize}}</a></li>
              {% endfor %}
              {{macro.lnk(item="skills")}}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    {{macro.js(s="way")}}
    {%block scripts%}{% endblock %}
  </body>
</html>
