{% extends 'layout.njk' %}
{% block content %}
<div class="container mt80">
  <input id="getTitle" type="text" class="form-control live-search-box center">
  <div id="cards"></div>
  <div id="md"></div>
</div>

{% endblock %}
{%block scripts%}
  <script>

var list = {{nodeModulesList.data|dump|safe}};

$.each(list, function( index, el ){
  $('#cards').append('<div class="card"><div class="form-group card-panel"><h5 class="inline ttl">'+el.title+'</h5><h6 class="inline green">v'+el.version+'</h6><span class="showEntries">show</span></div><div class="card-content"><h6>Description</h6><h5 class="ml20">'+el.description+'</h5><h6>Homepage</h6><h5 class="ml20"><a href="'+el.url+'" target="_blank">'+el.url+'</a></h5><h6>license</h6><h5 class="ml20">'+el.license+'</h5></div></div></div>');
});

$('.card').each(function(){
$(this).attr('data-search-term', $(this).find('.ttl').text().toLowerCase());
});

$('.live-search-box').on('keyup', function(){
  var searchTerm = $(this).val().toLowerCase();
  $('#md').empty();
  $('.card').each(function(){
      if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
          $(this).show();
      } else {
          $(this).hide();
      }
  });
});

  $('.showEntries').click(function() {
    var title = $(this).parent().find('.ttl').text();
    var dir = title +'/Readme.md';
    $('.card').each(function(){
      $(this).hide();
    });
    $.get( dir, function(i) {

      $('#md').fadeIn('slow');
      $('#md').append('<h1 class="center">'+title+'</h1>').append(marked(i));
    });
  });


  </script>
{% endblock %}
