{% extends 'layout.njk' %}{% block content %}
<div class="mt100">
    <h1 class="center">{{title}}</h1>
    <div class="row">
        <div class="col s12 m6">
            <h3 class="center">{{title}} list</h3>
            <form role="form" way-data="codeLeftData">
                <h5>Skills left:<span id="skillsCount1">{{skills.codeLeftData | length}}</span></h5>
                <div class="form-group"><a class="add" href="#" way-action-push="codeLeftData">Add entry</a></div>
                <div class="form-group" way-repeat="codeLeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="codeLeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="codeRightData">
                <h5>Skills right:<span id="skillsCount2">{{skills.codeRightData | length}}</span></h5>
                <div class="form-group"><a href="#" way-action-push="codeRightData">Add entry</a></div>
                <div class="form-group" way-repeat="codeRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="codeRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>

            <form role="form" way-data="skillsLeftData">
                <h5>frameworks left:{{skills.skillsLeftData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="skillsLeftData">Add entry</a></div>
                <div class="form-group" way-repeat="skillsLeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="skillsLeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="skillsRightData">
                <h5>frameworks right:{{skills.skillsRightData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="skillsRightData">Add entry</a></div>
                <div class="form-group" way-repeat="skillsRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="skillsRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>

            <form role="form" way-data="dbLeftData">
                <h5>database left:{{skills.dbLeftData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="dbLeftData">Add entry</a></div>
                <div class="form-group" way-repeat="dbLeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="dbLeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="dbRightData">
                <h5>database right:{{skills.dbRightData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="dbRightData">Add entry</a></div>
                <div class="form-group" way-repeat="dbRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="dbRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>

            <form role="form" way-data="CMSLeftData">
                <h5>CMS left:{{skills.CMSLeftData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="CMSLeftData">Add entry</a></div>
                <div class="form-group" way-repeat="CMSLeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="CMSLeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="CMSRightData">
                <h5>CMS right:{{skills.CMSRightData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="CMSRightData">Add entry</a></div>
                <div class="form-group" way-repeat="CMSRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="CMSRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>

            <form role="form" way-data="OSLeftData">
                <h5>OS left:{{skills.OSLeftData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="OSLeftData">Add entry</a></div>
                <div class="form-group" way-repeat="OSLeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="OSLeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="OSRightData">
                <h5>OS right:{{skills.OSRightData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="OSRightData">Add entry</a></div>
                <div class="form-group" way-repeat="OSRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.skillsData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="OSRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>

            <form role="form" way-data="otherLeftData">
                <h5>other left:{{skills.otherLeftData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="otherLeftData">Add entry</a></div>
                <div class="form-group" way-repeat="otherLeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.otherData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="otherLeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="otherRightData">
                <h5>other right:{{skills.otherRightData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="otherRightData">Add entry</a></div>
                <div class="form-group" way-repeat="otherRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.otherData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="otherRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>

            <form role="form" way-data="APILeftData">
                <h5>API left:{{skills.APILeftData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="APILeftData">Add entry</a></div>
                <div class="form-group" way-repeat="APILeftData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.otherData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="APILeftData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
            <form role="form" way-data="APIRightData">
                <h5>API right:{{skills.APIRightData | length}}</h5>
                <div class="form-group"><a href="#" class="add" way-action-push="APIRightData">Add entry</a></div>
                <div class="form-group" way-repeat="APIRightData">
                    <div>
                      <div class="item-entry">
                          {% for item in config.otherData %}
                          <label>{{item}}</label>
                          <input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                          {% endfor %}
                        </div>
        						<a href="#" class="remove" way-action-remove="APIRightData.$$key">Remove entry</a>
        					</div>
                </div>
            </form>
        </div>
        {{macro.pre(title=title)}}
    </div>
</div>
{% endblock %}
{%block scripts%}
<script>
    way.set("codeLeftData", {{skills.codeLeftData | dump | safe}});
    way.set("codeRightData", {{skills.codeRightData | dump | safe}});
    way.set("skillsLeftData", {{skills.skillsLeftData | dump | safe}});
    way.set("skillsRightData", {{skills.skillsRightData | dump | safe}});
    way.set("dbLeftData", {{skills.dbLeftData | dump | safe}});
    way.set("dbRightData", {{skills.dbRightData | dump | safe}});
    way.set("CMSLeftData", {{skills.CMSLeftData | dump | safe}});
    way.set("CMSRightData", {{skills.CMSRightData | dump | safe}});
    way.set("OSLeftData", {{skills.OSLeftData | dump | safe}});
    way.set("OSRightData", {{skills.OSRightData | dump | safe}});
    way.set("otherLeftData", {{skills.otherLeftData | dump | safe}});
    way.set("otherRightData", {{skills.otherRightData | dump | safe}});
    way.set("APILeftData", {{skills.APILeftData | dump | safe}});
    way.set("APIRightData", {{skills.APIRightData | dump | safe}});


</script>
{% endblock %}
