{% extends 'layout.njk' %}

{% block content %}
<div class="mt100 w90 center">
  <h1>{{title}}</h1>
  <h3>entries list</h3>
  <button id="addNew" class="btn mb40">Add entry</button>
  <div id="sortContainer" class="row">

      {% for i in data.entries %}
      <div class="col s6 sort">
        <div class="card">
        <div class="form-group card-panel">
            <div class="card-title">
              <h5>{{i.title}}<span class="showEntries">show</span></h5>
            </div>
            <div class="row card-content entry hidden">
              {{macro.entries(n="name",s=i.name)}}
              {{macro.entries(n="image",s=i.img)}}
              {{macro.entries(n="title",s=i.title)}}
              {{macro.entries(n="sub",s=i.sub)}}
              {{macro.entries(n="button",s=i.btnA)}}
              {{macro.entries(n="address",s=i.hrefA)}}
            </div>
            <a class="removeBlock">Remove entry</a>
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
  <textarea type="text" id="editor1"></textarea>
  <div class="row">
    <div class="col s6 sort">
      <button type="button" id="showIt" class="effect-waves btn">Update</button>
    </div>
    <div class="col s6 sort">
      <button type="button" id="commit" class="effect-waves btn" disabled>Commit</button>
    </div>
  </div>
  <form role="form" id="post" action="/update{{title}}" method="post" target="_blank">
      <textarea type="text" id="toUpdate" name="toUpdate" class="form-control" hidden></textarea>
  </form>

</div>
{% endblock %}
{%block scripts%}{{macro.js(s="template")}}{% endblock %}
