{% extends 'layout.njk' %}
{% block content %}
  <div class="mt100">
    <h1 class="center">{{title}}</h1>
    <div class="row">
      <div class="col s12 m6">
        <h3 class="center">entries list</h3>
        <form role="form" way-data="entries">
          <div class="form-group">
            <a href="#" way-action-push="entries">Add entry</a>
          </div>
          <div id="sortContainer">
          <div class="form-group sort" way-repeat="entries">
              <div class="item-entry">
                <h5>entries</h5>
                {% for item in config.entriesData %}
                  <label>{{item}}</label><input type="text" class="form-control" placeholder="{{item}}" way-data="{{item}}">
                {% endfor %}
              </div>
              <a href="#" way-action-remove="entries.$$key">Remove entry</a>
            </div>
          </div>
        </form>
      </div>
      {{macro.pre(title=title)}}
    </div>
  </div>
{% endblock %}
{%block scripts%}
  <script>
    way.set("entries", {{data.entries|dump|safe}});
  </script>
{% endblock %}
